.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 14px; }
  @media (max-width: 99.198rem) {
    html {
      font-size: 9px; } }
  @media (max-width: 76.798rem) {
    html {
      font-size: 8.5px; } }

body {
  box-sizing: border-box;
  background-color: #f7fafb; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }

button {
  outline: none; }
  button:active, button:focus, button:hover, button:visited {
    outline: none !important;
    box-shadow: none !important; }

.container {
  max-width: 99rem;
  padding-right: 2rem;
  padding-left: 2rem; }
  @media (max-width: 45.598rem) {
    .container {
      max-width: 80rem; } }

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212121;
  opacity: 0.6;
  z-index: 2;
  cursor: pointer;
  border-radius: inherit; }

.btn-block {
  width: 100%; }

.btn-black {
  color: #fff;
  background-color: #001c0e; }

.btn-main {
  color: #fff;
  background-color: #2d778d; }
  .btn-main-outline {
    color: #2d778d;
    background-color: #fff;
    border: 0.15rem solid #2d778d; }

.btn-white-outline {
  color: #fff;
  background-color: transparent;
  border: 0.15rem solid #fff; }

.modal .container {
  padding: 0rem; }

.modal-content {
  position: relative;
  color: #fff;
  background: #000d07;
  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(0, 0, 0, 0.03);
  border-radius: 1rem;
  min-height: 30rem; }
  .modal-content .close {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    right: 6rem;
    top: 5.4rem; }

.modal-body {
  padding: 5rem 6rem; }

.slides {
  display: none;
  margin-top: 2rem; }
  .slides-container {
    position: relative; }

.prevBtn,
.nextBtn {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }
  .prevBtn:hover,
  .nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.8); }

.nextBtn {
  right: 0;
  border-radius: 3px 0 0 3px; }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white; }
  .caption-container p {
    margin-top: 1rem; }

.column-container {
  overflow-x: hidden; }
  .column-container:hover {
    overflow-x: scroll; }

.column-item {
  overflow: hidden;
  width: 15rem !important; }
  .column-item img {
    height: 9rem;
    object-fit: cover;
    cursor: pointer; }

.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

.footer {
  color: #fff;
  background-color: #000d07;
  padding: 7rem 0rem 5rem 0rem; }
  .footer-text, .footer-link {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 3.1rem;
    color: #fff; }
  .footer-text {
    opacity: 0.4;
    margin-right: 3.1rem;
    display: inline; }
  .footer-link {
    cursor: pointer; }
  @media (max-width: 36.5rem) {
    .footer .col-md-7 {
      margin-bottom: 4rem; } }
  .footer-row {
    margin-top: 5rem; }
  .footer .text-1-main {
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 3.2rem; }
    .footer .text-1-main img {
      margin-right: 1.5rem;
      width: 6.5rem;
      height: 3.813rem; }
  .footer .text-1-sub {
    font-size: 1.5rem;
    line-height: 3.1rem; }
  .footer .text-2-main {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 0.8rem; }
  .footer .text-2-sub {
    font-size: 1.5rem;
    line-height: 2.5rem; }
  .footer .input {
    position: relative; }
    .footer .input input {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 4.8rem;
      letter-spacing: -0.03em;
      padding: 1.3rem 15rem 1.2rem 3rem;
      margin-top: 3rem;
      border-radius: 0.5rem;
      color: #001c0e; }
    .footer .input button {
      position: absolute;
      right: 1.6rem;
      top: 1rem;
      border-radius: 0.5rem;
      padding: 2rem 2.4rem;
      font-size: 1rem;
      line-height: 1.3rem; }

.nav {
  background-color: #fff;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.03);
  padding: 1.5rem 0rem; }
  .nav-img img {
    width: 4rem;
    height: 2.5rem; }
  .nav-links ul {
    list-style: none;
    margin: 0rem; }
    .nav-links ul > li {
      display: inline-block; }
      .nav-links ul > li:not(:last-child) {
        padding-right: 5.6rem; }
      .nav-links ul > li a {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-transform: uppercase; }
  .nav-action button {
    border-radius: 0.5rem;
    padding: 1.4rem 1.5rem;
    font-size: 1rem;
    line-height: 1.3rem; }
  .nav-icons {
    z-index: 10; }
    .nav-icons div {
      width: 35px;
      height: 5px;
      background-color: #000;
      margin: 6px 0;
      transition: 0.4s; }
    .nav-icons.change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    .nav-icons.change .bar2 {
      opacity: 0; }
    .nav-icons.change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px); }
  .nav-cover {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.2s; }
    .nav-cover a {
      padding: 0.8rem;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s; }
      .nav-cover a:hover, .nav-cover a:focus {
        color: #f1f1f1; }
    .nav-cover .closebtn {
      position: absolute;
      top: 2rem;
      right: 4.5rem;
      font-size: 6rem; }
    .nav-cover-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 3rem; }
  @media screen and (max-height: 450px) {
    .nav .nav-cover a {
      font-size: 2rem; }
    .nav .nav-cover .closebtn {
      font-size: 4rem;
      top: 1.5rem;
      right: 3.5rem; } }
  .nav .mobile-menu,
  .nav .main-menu {
    display: flex; }
  .nav .mobile-menu {
    display: none; }
  @media (max-width: 36.5rem) {
    .nav .mobile-menu {
      display: flex; }
    .nav .main-menu {
      display: none; } }
  .nav .modal-body h3 {
    font-weight: bold;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: -0.03em;
    margin-bottom: 1rem; }
  .nav .modal-body p {
    max-width: 32.9rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.03em;
    margin-bottom: 6rem; }
  .nav .modal-body input {
    line-height: 4.8rem;
    padding: 1rem 3.5rem; }
  .nav .modal-body textarea {
    padding: 3rem 3.5rem; }
  .nav .modal-body input,
  .nav .modal-body textarea {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: -0.03em;
    color: #001c0e;
    border-radius: 0.5rem; }
  .nav .modal-body button {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 4.8rem;
    letter-spacing: -0.03em;
    padding: 1rem 6.4rem;
    border-radius: 0.5rem; }
    .nav .modal-body button.one {
      margin-top: 8rem; }
    .nav .modal-body button.two {
      margin-top: 4rem; }
  .nav .modal-body .row:not(:last-child) {
    margin-bottom: 2rem; }

.showcase .section-header {
  padding: 5rem 0rem 10.8rem 0rem; }
  .showcase .section-header .title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 6rem;
    text-align: center;
    letter-spacing: -0.03em;
    color: #001c0e;
    margin-bottom: 8.5rem; }
  .showcase .section-header-box {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .showcase .section-header-box .images {
      position: relative; }
      .showcase .section-header-box .images img,
      .showcase .section-header-box .images p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .showcase .section-header-box .images img {
        width: 10.9rem;
        height: 10.9rem; }
        .showcase .section-header-box .images img.two {
          opacity: 0.3; }
      .showcase .section-header-box .images p {
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.3rem;
        letter-spacing: -0.03em;
        text-align: center;
        width: 10rem; }
  .showcase .section-header-products {
    border: 0.1rem solid #f4f4f4;
    border-radius: 1.5rem;
    background-color: #fff;
    padding: 8.8rem 5.3rem 7.3rem 5.3rem;
    margin-bottom: 3rem;
    position: relative; }
    @media (max-width: 45.598rem) {
      .showcase .section-header-products .sub {
        margin-top: 5rem; } }
  .showcase .section-header-product {
    display: none; }
    .showcase .section-header-product .image {
      max-width: 84.5rem;
      max-height: 42.2rem;
      margin-bottom: 5rem; }
      .showcase .section-header-product .image img {
        width: 100%;
        max-height: inherit;
        border-radius: 1rem; }
    .showcase .section-header-product .body .main h3 {
      font-size: 2.5rem;
      line-height: 2.5rem;
      letter-spacing: -0.03em;
      color: #000;
      margin-bottom: 0.5rem; }
    .showcase .section-header-product .body .main h4 {
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 2.5rem;
      letter-spacing: -0.03em;
      color: #000;
      margin-bottom: 1.5rem; }
    .showcase .section-header-product .body .main p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: -0.03em;
      color: #000;
      margin-bottom: 13.1rem;
      max-width: 39.5rem; }
      @media (max-width: 36.5rem) {
        .showcase .section-header-product .body .main p {
          max-width: 50rem; } }
    .showcase .section-header-product .body .main button {
      padding: 1.7rem 0rem;
      width: 13rem;
      border-radius: 0.5rem; }
      .showcase .section-header-product .body .main button img {
        margin-left: 1rem; }
    .showcase .section-header-product .body .sub img {
      margin-bottom: 1.6rem; }
    .showcase .section-header-product .body .sub h3 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: -0.03em;
      color: #000;
      margin-bottom: 0.5rem; }
    .showcase .section-header-product .body .sub p {
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: -0.03em;
      color: #000000;
      max-width: 15rem; }
    .showcase .section-header-product .body .sub .row .col-md-6 {
      margin-bottom: 2.2rem; }
  .showcase .section-header .controls .prev,
  .showcase .section-header .controls .next,
  .showcase .section-header .controls span {
    cursor: pointer; }
  .showcase .section-header .controls .prev {
    margin-right: 3rem; }
  .showcase .section-header .controls .next {
    margin-right: 2rem; }
  .showcase .section-header .controls span {
    font-size: 2rem;
    line-height: 2.8rem;
    color: #000;
    vertical-align: middle; }
    @media (max-width: 45.598rem) {
      .showcase .section-header .controls span {
        display: none; } }

.showcase .section-catalogues {
  padding: 5rem 0rem 10rem 0rem;
  background-color: #fff; }
  .showcase .section-catalogues .title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.8rem;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 4rem;
    color: #001c0e; }
  .showcase .section-catalogues-card {
    margin-bottom: 10rem; }
    .showcase .section-catalogues-card .image {
      max-width: 46rem;
      max-height: 32.3rem;
      margin-bottom: 3.5rem;
      cursor: pointer; }
      @media (max-width: 36.5rem) {
        .showcase .section-catalogues-card .image {
          max-width: 100%;
          max-height: 40rem; } }
      .showcase .section-catalogues-card .image img {
        width: 100%;
        max-height: inherit;
        border-radius: 1rem; }
    .showcase .section-catalogues-card .body h3 {
      font-size: 2.5rem;
      line-height: 2.5rem;
      letter-spacing: -0.03em;
      color: #000;
      margin-bottom: 0.5rem; }
    .showcase .section-catalogues-card .body h4 {
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 2.5rem;
      letter-spacing: -0.03em;
      color: #000;
      margin-bottom: 1.5rem; }
    .showcase .section-catalogues-card .body p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: -0.03em;
      color: #000;
      margin-bottom: 3rem;
      max-width: 39.5rem; }
      @media (max-width: 36.5rem) {
        .showcase .section-catalogues-card .body p {
          max-width: 50rem; } }
    .showcase .section-catalogues-card .body button {
      padding: 1.7rem 0rem;
      width: 13rem;
      border-radius: 0.5rem; }
      .showcase .section-catalogues-card .body button img {
        margin-left: 1rem; }

.catalogue {
  text-align: center;
  padding: 5rem 0rem 30.8rem 0rem; }
  .catalogue h3 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: -0.03em;
    color: #000;
    margin-bottom: 1.5rem;
    margin-top: -4rem; }
  .catalogue p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000;
    max-width: 54rem;
    margin: 0 auto;
    margin-bottom: 5rem; }
  .catalogue button {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 1.7rem 3rem;
    border-radius: 0.5rem; }
    .catalogue button img {
      margin-top: -0.3rem;
      margin-left: 0.5rem; }

.home .section-testimonial,
.showcase .section-testimonial {
  padding: 12rem 2rem; }
  .home .section-testimonial-title,
  .showcase .section-testimonial-title {
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.8rem;
    text-align: center;
    letter-spacing: -0.03em;
    color: #001c0e; }
  .home .section-testimonial-main, .home .section-testimonial-sub,
  .showcase .section-testimonial-main,
  .showcase .section-testimonial-sub {
    clear: both;
    display: table;
    content: "";
    max-width: 74.6rem;
    margin: 0 auto; }
  .home .section-testimonial-main,
  .showcase .section-testimonial-main {
    margin-bottom: 5rem; }
    @media (max-width: 36.5rem) {
      .home .section-testimonial-main .testimonial-card,
      .showcase .section-testimonial-main .testimonial-card {
        margin-bottom: 5rem; } }
    .home .section-testimonial-main .testimonial-card .body,
    .showcase .section-testimonial-main .testimonial-card .body {
      position: relative;
      border-radius: 1rem;
      margin-bottom: 1rem; }
      .home .section-testimonial-main .testimonial-card .body .img, .home .section-testimonial-main .testimonial-card .body video,
      .showcase .section-testimonial-main .testimonial-card .body .img,
      .showcase .section-testimonial-main .testimonial-card .body video {
        width: 100%;
        height: 16rem;
        max-height: inherit;
        border-radius: inherit; }
        @media (max-width: 36.5rem) {
          .home .section-testimonial-main .testimonial-card .body .img, .home .section-testimonial-main .testimonial-card .body video,
          .showcase .section-testimonial-main .testimonial-card .body .img,
          .showcase .section-testimonial-main .testimonial-card .body video {
            height: 30rem; } }
      .home .section-testimonial-main .testimonial-card .body video,
      .showcase .section-testimonial-main .testimonial-card .body video {
        background-color: #ddd; }
      .home .section-testimonial-main .testimonial-card .body .icon,
      .showcase .section-testimonial-main .testimonial-card .body .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        cursor: pointer; }
    .home .section-testimonial-main .testimonial-card:not(:last-child),
    .showcase .section-testimonial-main .testimonial-card:not(:last-child) {
      margin-right: 1.3rem; }
    .home .section-testimonial-main .testimonial-card .name,
    .home .section-testimonial-main .testimonial-card .role,
    .showcase .section-testimonial-main .testimonial-card .name,
    .showcase .section-testimonial-main .testimonial-card .role {
      line-height: 2.5rem;
      letter-spacing: -0.03em;
      color: #000; }
    .home .section-testimonial-main .testimonial-card .name,
    .showcase .section-testimonial-main .testimonial-card .name {
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 0.1rem; }
      @media (max-width: 36.5rem) {
        .home .section-testimonial-main .testimonial-card .name,
        .showcase .section-testimonial-main .testimonial-card .name {
          font-size: 2rem;
          margin: 2rem 0rem 1rem 0rem; } }
    .home .section-testimonial-main .testimonial-card .role,
    .showcase .section-testimonial-main .testimonial-card .role {
      font-weight: normal;
      font-size: 1.2rem; }
      @media (max-width: 36.5rem) {
        .home .section-testimonial-main .testimonial-card .role,
        .showcase .section-testimonial-main .testimonial-card .role {
          font-size: 1.5rem; } }
  .home .section-testimonial-sub .testimonial-card,
  .showcase .section-testimonial-sub .testimonial-card {
    background: #fff;
    border-radius: 1rem; }
    @media (max-width: 36.5rem) {
      .home .section-testimonial-sub .testimonial-card,
      .showcase .section-testimonial-sub .testimonial-card {
        margin-bottom: 6rem; } }
    .home .section-testimonial-sub .testimonial-card .body .img,
    .showcase .section-testimonial-sub .testimonial-card .body .img {
      width: 100%;
      max-height: inherit;
      border-radius: 1rem 1rem 0rem 0rem; }
    .home .section-testimonial-sub .testimonial-card .foot,
    .showcase .section-testimonial-sub .testimonial-card .foot {
      width: 100%;
      padding: 2rem; }
      @media (max-width: 36.5rem) {
        .home .section-testimonial-sub .testimonial-card .foot,
        .showcase .section-testimonial-sub .testimonial-card .foot {
          padding: 3rem; } }
      .home .section-testimonial-sub .testimonial-card .foot .content,
      .showcase .section-testimonial-sub .testimonial-card .foot .content {
        margin-bottom: 3.1rem;
        font-size: 1rem;
        line-height: 1.7rem;
        color: #000; }
        @media (max-width: 36.5rem) {
          .home .section-testimonial-sub .testimonial-card .foot .content,
          .showcase .section-testimonial-sub .testimonial-card .foot .content {
            font-size: 1.8rem;
            line-height: 2.5rem; } }
      .home .section-testimonial-sub .testimonial-card .foot .name,
      .home .section-testimonial-sub .testimonial-card .foot .role,
      .showcase .section-testimonial-sub .testimonial-card .foot .name,
      .showcase .section-testimonial-sub .testimonial-card .foot .role {
        font-weight: 500;
        color: #000;
        line-height: 2.5rem;
        letter-spacing: -0.03em; }
      .home .section-testimonial-sub .testimonial-card .foot .name,
      .showcase .section-testimonial-sub .testimonial-card .foot .name {
        font-size: 1.2rem;
        margin-bottom: 0.1rem; }
        @media (max-width: 36.5rem) {
          .home .section-testimonial-sub .testimonial-card .foot .name,
          .showcase .section-testimonial-sub .testimonial-card .foot .name {
            font-size: 2rem;
            margin: 2rem 0rem 1rem 0rem; } }
      .home .section-testimonial-sub .testimonial-card .foot .role,
      .showcase .section-testimonial-sub .testimonial-card .foot .role {
        font-size: 1rem;
        opacity: 0.5;
        margin-top: -0.5rem;
        margin-bottom: 0.1rem;
        font-style: italic; }
        @media (max-width: 36.5rem) {
          .home .section-testimonial-sub .testimonial-card .foot .role,
          .showcase .section-testimonial-sub .testimonial-card .foot .role {
            font-size: 1.5rem; } }
    .home .section-testimonial-sub .testimonial-card:not(:last-child),
    .showcase .section-testimonial-sub .testimonial-card:not(:last-child) {
      margin-right: 1.3rem; }

.home .section-maps {
  padding: 0rem 2rem; }
  .home .section-maps .maps {
    max-width: 74.5rem;
    max-height: 35rem;
    margin: 0 auto; }
    .home .section-maps .maps .vue-map {
      border-radius: 1rem; }

.home .section-explore {
  background-color: #d1dfe0;
  min-height: 59.1rem;
  position: relative;
  overflow: hidden; }
  .home .section-explore h3,
  .home .section-explore img.main,
  .home .section-explore button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home .section-explore h3 {
    top: 47%;
    font-weight: 600;
    font-size: 50rem;
    line-height: 4.8rem;
    text-align: center;
    letter-spacing: -0.03em;
    opacity: 0.3;
    margin-left: -5rem;
    color: #d1dfe0;
    text-shadow: -0.1rem 0 #000, 0 0.1rem #000, 0.1rem 0 #000, 0 -0.1rem #000; }
  .home .section-explore img.main {
    top: 45%;
    width: 92rem;
    height: 32.2rem; }
  .home .section-explore button {
    top: 87%;
    background: #fff;
    opacity: 0.8;
    border-radius: 0.5rem;
    padding: 0rem 2rem;
    font-size: 1.5rem;
    line-height: 4.8rem;
    letter-spacing: -0.03em;
    color: #000000; }
    .home .section-explore button img.icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 1rem; }

.home .section-features {
  padding: 12rem 2rem 13rem 2rem; }
  .home .section-features-title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.8rem;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 4.3rem; }
  .home .section-features-cards {
    max-width: 72.9rem;
    margin: 0 auto;
    clear: both;
    display: table;
    clear: both; }
  .home .section-features-card {
    background: #fff;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 3.7rem 3rem 3.5rem 3rem;
    width: 34.5rem;
    min-height: 51rem;
    float: left; }
    @media (max-width: 45.598rem) {
      .home .section-features-card {
        font-size: 1.8rem;
        line-height: 2.5rem; } }
    @media (max-width: 45.598rem) {
      .home .section-features-card {
        width: 30rem; } }
    @media (max-width: 36.5rem) {
      .home .section-features-card {
        margin-bottom: 3rem;
        width: 100%; } }
    .home .section-features-card:not(:last-child) {
      margin-right: 3.9rem; }
    .home .section-features-card .title {
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 2rem;
      letter-spacing: -0.03em;
      color: #000; }
      .home .section-features-card .title-2 {
        margin-bottom: 2.5rem; }
      .home .section-features-card .title-3 {
        margin-bottom: 2.4rem; }
    .home .section-features-card .price {
      font-weight: bold;
      font-size: 3rem;
      line-height: 2rem;
      letter-spacing: -0.03em;
      color: #000; }
      @media (max-width: 45.598rem) {
        .home .section-features-card .price {
          font-size: 2.5rem; } }
      .home .section-features-card .price-1 {
        margin-bottom: 4.3rem; }
      .home .section-features-card .price-2 {
        margin-bottom: 4rem; }
    .home .section-features-card .title-1 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.7rem;
      color: #000;
      margin-bottom: 1.4rem; }
    .home .section-features-card select {
      padding: 1.5rem 0rem 1.5rem 2rem;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: -0.03em;
      color: #000;
      width: 14.8rem;
      border: 0.1rem solid rgba(45, 119, 141, 0.1);
      box-sizing: border-box;
      border-radius: 0.5rem;
      margin-bottom: 2rem; }
    .home .section-features-card .features-1 {
      margin-bottom: 3.2rem; }
    .home .section-features-card .features-2 {
      margin-bottom: 2.8rem; }
    .home .section-features-card .features li {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 3.2rem;
      color: #000; }
    .home .section-features-card button {
      padding: 2rem 0rem;
      border-radius: 1rem;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem; }

.home .section-why {
  padding: 10rem 2rem; }
  .home .section-why-title {
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.8rem;
    text-align: center;
    letter-spacing: -0.03em;
    color: #001c0e; }
    @media (max-width: 36.5rem) {
      .home .section-why-title {
        font-size: 4rem;
        margin-bottom: 2rem; } }
  .home .section-why-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000;
    max-width: 54rem;
    margin: 0 auto;
    margin-bottom: 5rem; }
    @media (max-width: 36.5rem) {
      .home .section-why-text {
        font-size: 2rem;
        line-height: 3.5rem; } }
  .home .section-why-cards {
    max-width: 74.6rem;
    margin: 0 auto; }
    @media (max-width: 36.5rem) {
      .home .section-why-cards .col-12 {
        text-align: center; } }
  .home .section-why-card img {
    margin-bottom: 1.6rem; }
  .home .section-why-card h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.03em;
    color: #000;
    margin-bottom: 0.45rem; }
  .home .section-why-card p {
    max-width: 16rem;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: -0.03em;
    color: #000; }
  .home .section-why-card:not(:last-child) {
    margin-right: 2%; }
  @media (max-width: 36.5rem) {
    .home .section-why-card img {
      margin-bottom: 3.5rem; }
    .home .section-why-card h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem; }
    .home .section-why-card p {
      font-size: 2rem;
      line-height: 3rem;
      max-width: 28rem;
      margin: 0 auto;
      margin-bottom: 5rem; } }

.home .section-header {
  padding: 7rem 0rem 3rem 0rem; }
  .home .section-header .title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.8rem;
    text-align: center;
    letter-spacing: -0.03em;
    color: #001c0e;
    padding: 0rem 2rem; }
  .home .section-header .text {
    text-align: center; }
    .home .section-header .text span {
      cursor: pointer;
      position: relative;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 4.8rem;
      letter-spacing: -0.03em;
      color: #001c0e;
      border-bottom: 0.1rem solid #001c0e;
      padding-bottom: 0.8rem; }
      .home .section-header .text span img {
        position: absolute;
        top: -5px;
        right: -18px; }
  .home .section-header .image {
    border-radius: 1rem;
    max-height: 45rem;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative; }
    .home .section-header .image-more {
      clear: both;
      display: table;
      content: "";
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      font-weight: 500;
      font-size: 1rem;
      padding: 1rem 1.7rem;
      width: 15.8rem;
      height: 5rem;
      cursor: pointer;
      line-height: 1.3rem;
      border-radius: 0.5rem;
      letter-spacing: -0.03em;
      color: #fff;
      background-color: #000;
      box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.25); }
      .home .section-header .image-more .imgs,
      .home .section-header .image-more span,
      .home .section-header .image-more .right {
        float: left; }
      .home .section-header .image-more .imgs {
        position: relative; }
        .home .section-header .image-more .imgs-1, .home .section-header .image-more .imgs-2 {
          position: absolute; }
        .home .section-header .image-more .imgs-1 {
          width: 2.8rem;
          height: 2.8rem;
          z-index: 2; }
        .home .section-header .image-more .imgs-2 {
          bottom: -3.7rem;
          right: -3.7rem;
          width: 3.8rem;
          height: 3.8rem;
          z-index: 1; }
      .home .section-header .image-more span {
        margin-left: 4rem;
        margin-top: 0.8rem; }
      .home .section-header .image-more .right {
        height: 0.8rem;
        width: 0.5rem;
        margin-left: 0.8rem;
        margin-top: 1.05rem; }
    .home .section-header .image img {
      width: 100%;
      height: 100%; }
