.showcase {
  .section {
    &-header {
      padding: 5rem 0rem 10.8rem 0rem;

      .title {
        font-weight: 600;
        font-size: 5rem;
        line-height: 6rem;
        text-align: center;
        letter-spacing: -0.03em;
        color: $color-black-shade-1;
        margin-bottom: 8.5rem;
      }

      &-box {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

        .images {
          position: relative;

          img,
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          img {
            width: 10.9rem;
            height: 10.9rem;

            &.two {
              opacity: 0.3;
            }
          }

          p {
            color: $color-white;
            font-weight: bold;
            font-size: 1.3rem;
            line-height: 1.3rem;
            letter-spacing: -0.03em;
            text-align: center;
            width: 10rem;
          }
        }
      }

      &-products {
        border: 0.1rem solid #f4f4f4;
        border-radius: 1.5rem;
        background-color: $color-white;
        padding: 8.8rem 5.3rem 7.3rem 5.3rem;
        margin-bottom: 3rem;
        position: relative;

        & .sub {
          @include respond(xs) {
            margin-top: 5rem;
          }
        }
      }

      &-product {
        display: none;

        .image {
          max-width: 84.5rem;
          max-height: 42.2rem;
          margin-bottom: 5rem;

          img {
            width: 100%;
            max-height: inherit;
            border-radius: 1rem;
          }
        }

        .body {
          .main {
            h3 {
              font-size: 2.5rem;
              line-height: 2.5rem;
              letter-spacing: -0.03em;
              color: $color-black;
              margin-bottom: 0.5rem;
            }

            h4 {
              font-weight: bold;
              font-size: 1.3rem;
              line-height: 2.5rem;
              letter-spacing: -0.03em;
              color: $color-black;
              margin-bottom: 1.5rem;
            }

            p {
              font-size: 1.5rem;
              line-height: 2.5rem;
              letter-spacing: -0.03em;
              color: $color-black;
              margin-bottom: 13.1rem;
              max-width: 39.5rem;

              @include respond(xxs) {
                max-width: 50rem;
              }
            }

            button {
              padding: 1.7rem 0rem;
              width: 13rem;
              border-radius: 0.5rem;

              img {
                margin-left: 1rem;
              }
            }
          }

          .sub {
            img {
              margin-bottom: 1.6rem;
            }

            h3 {
              font-weight: 500;
              font-size: 1.5rem;
              line-height: 2.5rem;
              letter-spacing: -0.03em;
              color: $color-black;
              margin-bottom: 0.5rem;
            }

            p {
              font-size: 1rem;
              line-height: 1.8rem;
              letter-spacing: -0.03em;
              color: #000000;
              max-width: 15rem;
            }

            .row .col-md-6 {
              margin-bottom: 2.2rem;
            }
          }
        }
      }

      .controls {
        .prev,
        .next,
        span {
          cursor: pointer;
        }

        .prev {
          margin-right: 3rem;
        }

        .next {
          margin-right: 2rem;
        }

        span {
          font-size: 2rem;
          line-height: 2.8rem;
          color: $color-black;
          vertical-align: middle;

          @include respond (xs) {
            display: none;
          }
        }
      }
    }

    &-catalogues {
      padding: 5rem 0rem 10rem 0rem;
      background-color: $color-white;

      .title {
        font-weight: 600;
        font-size: 3rem;
        line-height: 4.8rem;
        letter-spacing: -0.03em;
        text-align: center;
        margin-bottom: 4rem;
        color: $color-black-shade-1;
      }

      &-card {
        margin-bottom: 10rem;

        .image {
          max-width: 46rem;
          max-height: 32.3rem;
          margin-bottom: 3.5rem;
          cursor: pointer;

          @include respond(xxs) {
            max-width: 100%;
            max-height: 40rem;
          }

          img {
            width: 100%;
            max-height: inherit;
            border-radius: 1rem;
          }
        }

        .body {
          h3 {
            font-size: 2.5rem;
            line-height: 2.5rem;
            letter-spacing: -0.03em;
            color: $color-black;
            margin-bottom: 0.5rem;
          }

          h4 {
            font-weight: bold;
            font-size: 1.3rem;
            line-height: 2.5rem;
            letter-spacing: -0.03em;
            color: $color-black;
            margin-bottom: 1.5rem;
          }

          p {
            font-size: 1.5rem;
            line-height: 2.5rem;
            letter-spacing: -0.03em;
            color: $color-black;
            margin-bottom: 3rem;
            max-width: 39.5rem;

            @include respond(xxs) {
              max-width: 50rem;
            }
          }

          button {
            padding: 1.7rem 0rem;
            width: 13rem;
            border-radius: 0.5rem;

            img {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}
